body {
    color: #e3c9b8;
    background: #540707;
}

h2 {
    text-align: center;
}

.item {
    display: inline-block;
    width: 200px;
    margin-left:
    display: inline-block;
    padding: 30px;
}
